.title {
    text-align: center;
    margin-left:21px;
    margin-top:-440px;
    font:bold 26px/30px arial;
    overflow:hidden;
    cursor: pointer;

    &:hover {
      cursor: pointer;
    }
}

.title2 { 
    text-align:center;
    font:bold 14px/18px arial;
    display:inline;
    margin:100px 400px 0px -300px;
    padding:0;
    position:relative;
    left:50%;
    overflow:hidden;
    cursor: pointer;
    top:5%;

    @media only screen and (max-width: 600px) {
        body {
          background-color: lightblue;
        }
      }
}