.TimeWrapper {
    width:99.9%;
    height:1600px;
    margin-top:-20px;
    overflow-x: hidden;
}

.TimeH1 {
    text-align:center;
    border-bottom:1px solid #c0c0c0;
    border-top: 1px solid #c0c0c0;
    margin-top:20px;
    padding-top:20px;
    padding-bottom:20px;
    font: bold 20px/80px arial;
    overflow: hidden;
}

.TimeForm {
    width:1200px;
    height:280px;
    margin:auto;
    border:1px solid #000;
    position:absolute;
    left:50%;
    margin-left:-580px;
    overflow: hidden;

    @media screen and (max-width:1400px) {
        width:1000px;
        position:absolute;
        left:58%;
        overflow: hidden;
    }
    @media screen and (max-width:1024px) {
        width:960px;
        position:absolute;
        left:60%;
        overflow: hidden;
    }
}


 



.TimeP0 {
    border-bottom:1px solid #000;
    margin-top:0px;
    font:bold 16px/50px arial;
    overflow: hidden;
}

.TimeP1{
    text-align:center;
    margin-left:-50px;
    overflow: hidden;
}

.TimeP {
    border-bottom:1px solid #000;
    margin-top:-10px;
    
}

.TimeP2 {
    width:127px;
    padding:22px;
    font: 18px/16px arial;
    margin-top:-6px;
    padding-bottom:23px;
    border-right:1px solid #000;
    border-bottom:1px solid #000;
    background-color:rgb(194, 194, 194);
    float:left;
    overflow: hidden;
}
.TimeP3 {
    display:grid;padding:5px;
    font: 14px/32px arial;
    padding-left:60px;
    overflow: hidden;
}

.TimeP4 {
    float:right;
}

.TimePb {
    font: 16px/18px arial;
    position: relative;
    left:-100%;
    top:-57px;
    border-left:1px solid #000;
    border-right:1px solid #000;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
    padding-right:12px;
    padding-top:21px;
    padding-bottom:22px;
    margin-left:12px;
    margin-right:10px;
    padding-left:10px;
    background-color:rgb(194, 194, 194);
    overflow: hidden;
}

.TimePb1 {
    font: 16px/18px arial;
    position:relative;
    display:block;
    position:relative;
    left:-68%;
    margin-top:8px;
    bottom:95px;
    overflow: hidden;
}
 
.Day {
    width:100%;
    border-bottom:1px solid #000;
    margin-top:140px;
    
}

.p {
    float:left;
    position:relative;
    top:-159px;
    padding:50px;
    padding-top:52px;
    padding-bottom:62px;
    left:-1px;
    font: 18px/24px arial;
    border-right:1px solid #000;
    border-top:1px solid #000;
    overflow: hidden;
    background-color:rgb(194, 194, 194);
}

 
.p-right-p3{
    float: right;
    font: 14px/18px arial;
    position: absolute;
    overflow: hidden;
    left:30%;
    top:55%;
   
}
 
.p-right-p4{
    float: right;
    font: 14px/18px arial;
    position: absolute;
    overflow: hidden;
    left:65%;
    top:55%;
   
}
.p-right-p1{
    float: right;
    font: 14px/18px arial;
    position: absolute;
    overflow: hidden;
    left:30%;
    top:80%;
 }

 .p-right-p2{
    float: right;
    font: 14px/18px arial;
    position: absolute;
    left:65%;
    overflow: hidden;
    top:80%;
 }


 .TimeForm2 {
    width:1200px;
    height:960px;
    margin:20px auto;
    border:1px solid #000;
    position:absolute;
    left:50%;
    margin-top:400px;
    margin-left:-580px;
    overflow: hidden;

    @media screen and (max-width:1400px) {
        width:950px;
        position:absolute;
        left:60%;
        overflow: hidden;
    }
    @media screen and (max-width:1024px) {
        width:800px;
        position:absolute;
        left:70%;
        overflow: hidden;
    }
}

 

.formborder {
    width:1000px;
    min-width:1200px;
    overflow: hidden;
    border:1px solid #000;
}


 .Back1 {
    width:100%;
    overflow: hidden;
    text-align:center;
    border-bottom:1px solid #000;
    margin-top:10px;
    font: 16px/80px arial;
    overflow: hidden;
 }

 .BackP {
     width:100%;
     overflow: hidden;
     height:100px;
     margin-top:-12px;
     border-right:1px solid #000;
     border-top:1px solid #000;
     border-bottom:1px solid #000;
     text-align:center;
 }

 .BackH1 {
     width:20%;
     height:200px;
     font: 16px/60px arial;
     margin-top:0px;
     padding-top:20px;   
    overflow: hidden;
    background:#fcfc;
 }

 .BackH2 {
    overflow: hidden;
     float:right;
     border-bottom:1px solid #000;
     position: relative;
     left:50%;
     margin-left:600px;
 }

 .BackP1  {   
   float:left;
   position:relative;
   left:50%;
   bottom:12%;
   margin-left: -25%;
   font:18px/24px arial;
}
.BackP2  {   
    float:left;
    position:relative;
    left:50%;
    bottom:8%;
    margin-left: -25%;
    font: 14px/24px arial;
 }